<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"/>
    <ion-card-header>
      <ion-card-title>Pasar asistencia</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-button color="secondary"  size="default" (click)="Generacion()" >Generar codigo</ion-button>



        
        
    </ion-card-content>

  </ion-card>



</ion-content>
