<ion-content [fullscreen]="true"> 

  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg"/>

    <ion-card-header>
      <ion-card-title>RegistrAPP</ion-card-title>
    
    </ion-card-header>

    <ion-card-content>
      <ion-input label="Alumno" [(ngModel)]="inputValue"  labelPlacement="stacked" placeholder="Ingrese usuario" ></ion-input>
        <ion-input label="Password"  labelPlacement="stacked" placeholder="Ingrese contraseña" type="Password"  ></ion-input>
        <ion-button color="secondary"  size="default" (click)="Ingresar()">Ingresar</ion-button> <mat-checkbox class="example-margin">Recuerdame</mat-checkbox>

        <ion-card-content>
      
          <button mat-button color="warn" (click)="Recuperarcontrasena()" >Recuperar contraseña</button>
        </ion-card-content>

    </ion-card-content>

  </ion-card>
  

</ion-content>
